.page {
    &__get-social-container {
        display: none;
    }

    .home-page {
        .page__top-container {
            padding-top: 20px;
            margin-bottom: 0;

            @media #{$medium-up} {
                padding-top: 40px;
            }
        }
    }
}
