.page__top-container {
    .get-social {
        .get-social-title {

            &:before {
                color: $color-text;
                content: 'Follow Us';
                font: 600 18px/21px $font-family-sans-serif-light;
                letter-spacing: normal;
            }
        }

        .get-social__links {
            position: relative;
        }
    }
}
