.page__top-container {
    .get-social {
        .get-social-title {
            margin-top: 12px;

            &:before {
                color: $color-primary;
                content: 'stay connected';
                font: 400 17px/21px $font-family-sans-serif-light;
                letter-spacing: normal;
            }
        }

        .get-social__links {
            position: relative;
        }
    }
}
