.feed {
    @media #{$large-up} {
        margin: 0 0 0 30px;
        width: 325px;
    }

    &-carousel-content {
        @include mobile-padding-collapse;
        background-color: $color-white;
        padding-left: 0;
        padding-right: 0;
        border-top-color: transparent;

        > h2 {
            font-size: 0;
            margin-top: -40px;
            margin-bottom: $article-padding;
            text-align: center;
            @include content-body-section-heading-style(0, 0);

            &:before {
                @include type-header-secondary;
                color: inherit;
                content: 'READ MORE';
                font-size: 12px;
                line-height: 26px;
                letter-spacing: inherit;
                display: inherit;
            }
        }

        .feed-item {
            margin: 0 15px 0;

            &__body {
                padding-top: 10px;
            }

            &__body-title {
                @include type-text-light;
            }

            &__section-tag {
                span {
                    color: $color-text-gold;
                    display: inline-block;
                    border-bottom: 1px $color-awwfood-white dashed;
                    text-transform: uppercase;
                    margin-bottom: 5px;
                    font-size: 13px;   
                }
            }

            &__section-tag--link-disabled {

                span {
                    color: $color-text-gold;
                    display: inline-block;
                    border-bottom: 1px $color-awwfood-white dashed;
                    text-transform: uppercase;
                    margin-bottom: 5px;
                    font-size: 13px;
                    pointer-events: none;
                }
            }

            .teaser__image {
                overflow: hidden;
                width: calc(100% + #{ 2 * $article-padding });
            }
        }
    }

    .feed-ad {
        border-top: none;
    }
}

.feed__container {
    .feed--pinned & {
        margin-top: 30px;
    }
}

.feed-header {
    width: 300px;
    background-color: $color-heading-bg;
    border-top-left-radius: $feed-item-gap / 2;
    border-top-right-radius: $feed-item-gap / 2;
    padding-top: $feed-item-gap / 2;
    padding-bottom: $feed-item-gap / 2;

    &:before {
        content: none;
    }

    span {
        font-family: 'Nunito-Regular';
        -webkit-font-smoothing: auto;
        background: transparent;
        color: $color-white;
        font-size: 11px;
        letter-spacing: 2px;
    }
}
