.gallery {
    &__ad {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    &__caption {
        display: block;
        position: relative;
        padding-left: 0;
        margin-left: 0;
    }

    &__aside {

        .gallery__author span {
            color: $color-accent;
        }

        .gallery__summary p {
            margin-bottom: 10px;
        }

        .gallery__date {
            padding-top: 0;
        }
    }

    &__feed {
        &-item--ad,
        &-item--image {
            margin-bottom: $article-gap;
        }
    }

    &__item {

        &-count {
            margin-bottom: 15px;
            display: inline-block;

            span {
                display: inline-block;
                vertical-align: middle;
            }
        }

        &-index,
        &-total {
            @include type-header;
            font-size: 20px;
        }
    }

    &__main {
        .gallery {

            &__title {
                font: 27px/30px $font-family-serif-primary;
                -webkit-font-smoothing: antialiased;
                text-transform: uppercase;
                padding: 0 15px 15px;
                margin: 0;
                letter-spacing: 1px;

                @media #{$medium-up} {
                    text-align: center;
                    letter-spacing: normal;
                }
            }

            &__more {
                &-heading-container {
                    .gallery__more-heading {

                        span {
                            -webkit-font-smoothing: antialiased;
                            font-weight: 200;
                            color: $color-primary;
                            letter-spacing: normal;
                        }

                    }
                }
            }

            &__slide {

                .gallery__nav {
                    background-color: $color-primary;

                    @media #{$medium-up} {
                        font-size: 1em;
                        padding: 0;
                    }

                    &:hover {
                        background-color: lighten($color-primary, 15);
                    }

                }

                .gallery__slide-image {
                    @media #{$small-only} {
                        left: inherit;
                        top: inherit;
                        position: initial;
                        transform: none;
                        -webkit-transform: none;
                    }
                }

            }

        }
    }

    &__next {

        &-aside {

            .teaser {
                margin-bottom: 10px;

                &__section-tag {
                    margin-top: 15px;
                }

                &__title {
                    margin-top: 0;

                    @media #{$small-only} {
                        font-family: $font-family-sans-serif-light;
                    }
                }

                &__summary {
                    display: none;
                }

                &__source {
                    display: none;
                }
            }

        }

        &-main {

            .teaser__title {
                margin-bottom: 25px;
                margin-top: 15px;

                a {
                    font: 400 22px/24px $font-family-serif-primary;
                    -webkit-font-smoothing: antialiased;
                    color: $color-primary;
                    letter-spacing: 0.0025em;
                }

            }

            .button {
                background: $color-primary;
                -webkit-font-smoothing: antialiased;
                font-size: 17px;
            }

        }

        &-container {

            h5 {
                -webkit-font-smoothing: antialiased;
                font-size: 14px;
                letter-spacing: normal;

                &::before,
                &::after {
                    background: $color-text;
                    top: 9px;
                    opacity: 0.7;
                }
            }

            h2 {
                font-family: $font-family-serif-primary;
                -webkit-font-smoothing: antialiased;
                text-transform: uppercase;
                line-height: 26px;
            }

            .button {
                background: $color-primary;

                &:hover {
                    background: lighten($color-primary, 15);
                }

            }
       }

    }

    .content-body a {
        color: $color-accent;

        &:hover {
            color: $color-tertiary;
        }
    }

    &__slide-count {
        font: 16px/21px $font-family-serif-secondary;
        padding-top: 9px;

        @media #{$medium-up} {
            font: 28px/36px $font-family-serif-primary;
            color: $color-primary;
            padding-top: 6px;
        }
    }

    .gallery-caption__content-holder p,
    p.content-body__paragraph {
        color: $color-secondary;
        font-family: $font-family-serif-secondary;
        -webkit-font-smoothing: antialiased;
    }

    .gallery-caption__content-holder p {
        font-size: 16px;
        line-height: 21px;

        @media #{$medium-up} {
            font-size: 18px;
            line-height: 25px;
        }
    }

    p.content-body__paragraph {
        font-size: 18px;
        line-height: 25px;
    }

    .gallery-caption__toggle {
        color: $color-accent;
        text-decoration: none;

        &:hover {
            color: $color-tertiary;
        }
    }

    .social-share-block {
        display: none;
    }
}
