.page-title {
    $root: &;

    @include type-section-title();
    color: $color-accent;
    margin: 22px 30px 10px;
    padding: 0 $column-gutter/2;

    @media #{$medium-up} {
        padding: 10px $column-gutter/2;
    }    

    &--with-brand-logo {
        margin: 15px 0;

        #{$root}__brand-logo {
            height: 80px;

            @media #{$medium-up} {
                height: 120px;
            }
        }
    }

    &__symbol {
        color: $color-primary;
        letter-spacing: -5px;
    
        &:before {
            content: '';
        }

        &:after {
            display: none;
        }
    
        @media #{$medium-up} {
            letter-spacing: -8px;
        }
    }
}
