.recipe-method {
    
    &__heading {
        font-family: 'PlayfairDisplay-Bold', sans-serif;
        color: $color-text-light;
        font-size: 18px;
    }
    

    &__list-item {
        display: table;
    }

    &__step-container {
        display: table-cell;
        top: 10px;
        position: relative;
    }

    &__step-count {
        background-color: #000;
        width: 32px;
        height: 32px;
        display: block;
        border-radius: 16px;
        text-align: center;
        line-height: 32px;
        color: $color-white;
    }

    &__step-description {
        display: table-cell;
        padding-left: 15px;
        line-height: 20px;
    }
}
