$signup-form-gutter: 8px;
$signup-form-field-height: 45px;


.signup-form {
    $self: &;
    text-align: center;

    &__inner {
        @extend .clearfix;
        width: 100%;
    }

    &__field {
        display: block;
        width: 100%;
        position: relative;
        height: $signup-form-field-height;
        line-height: $signup-form-field-height;
        border: #999999 solid 1px;
        border-radius: 3px;
        background-color: #ffffff;
        overflow: hidden;
        color: #666;
        float: left;
        box-sizing: border-box;
        
        
        &--first-name,
        &--last-name {
            width: calc(50% - 4px);
        }

        &--first-name {
            margin-right: $signup-form-gutter;
        }

        &--email {
            margin-top: $signup-form-gutter;
        }

        &--is-empty {
            #{$self}__field-input {
                background: transparent;
            }
        }
    }

    &__field-input,
    &__field-label {
        border: none;
        background-color: inherit;
        line-height: inherit;
        box-sizing: inherit;
        border-radius: inherit;
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        top: 0;
        padding: {
            left: 15px;
            right: 15px;
        }
    }

    &__field-input {
        font-size: 16px;
        z-index: 2;

        &:focus {
            outline: none;
        }

        &:focus + label {
           opacity: 0;
        }
    }

    &__field-label {
        font-size: 14px;
        font-style: italic;
        transition: all 1s ease-in-out;
        z-index: 1;
    }

    &__submit-button {
        margin-top: $signup-form-gutter;
        clear: both;
    }

    &--inline {

        &#{$self} {
            margin-top: 0;
        }

        #{$self}__inner {
            display: flex;
            flex: 1;
        }

        #{$self}__field--email,
        #{$self}__submit-button {
            display: inline-block;
            vertical-align: middle;
            float: none;
        }

        #{$self}__field--email {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            width: calc(100% - 100px);
            text-align: left;
        }

        #{$self}__submit-button {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            border-right: none;
            border-width: 1px;
            margin-top: $signup-form-gutter;
            height: $signup-form-field-height;
            text-align: center;
            width: 100px;
            background-color: #333333;
            color: #ffffff;
            letter-spacing: 1px;
            
            padding: {
                left: 0;
                right: 0;
            }

            &:hover,
            &:active,
            &:focus {
                background-color: darken(#333333, 5%);
            }
        }
    }
}
