.article {
    @include type-article-body();
    margin: 15px 0 0 0;

    &__date-created,
    &-header-author {
        color: $color-tertiary;
        font-size: 12px;
        line-height: 20px;

        &__name {
            color: $color-accent;
        }
    }

    &-header-section {
        display: block;
        margin-top: 10px;
        margin-bottom: 4px;

        &__text {
            @include type-teaser-tag();
            visibility: visible;
        }

        @media #{$medium-up} {
            display: none;
        }
    }

    &__hero {
        &-container {
            margin-top: 28px;
         }
    }


    &__title {
        font-family: $font-family-serif-primary;
        text-transform: uppercase;

        @media #{$small-only} {
            margin-top: 0;
            margin-bottom: 9px;
            font-size: 22px;
            line-height: 26px;
        }

        @media #{$medium-up} {
            line-height: 42px;
            margin-bottom: 8px;
            font-size: 41px;
        }
    }

    &__summary {
        font-family: $font-family-serif-secondary;
        font-style: italic;

        @media #{$small-only} {
            font-size: 16px;
            line-height: 24px;
        }

        @media #{$medium-up} {
            font-size: 17px;
        }
    }

    .article-header-author {
        span:nth-child(2) {
            border-bottom: none;
        }
    }

    .content-body {
        &__inline-image-caption {
            color: $color-tertiary;
            font-size: 12px;
            line-height: 18px;

            @media #{$small-only} {
                padding: 10px 15px 6px 15px;
            }

        }
    }

    &__footer {
        font-family: $font-family-sans-serif-primary;
        font-size: 12px;
        font-style: normal;
        line-height: 16px;
        text-transform: uppercase;

        .social-share-block {
            display: none;
        }
    }

    &__tags {
        letter-spacing: .03em;

        .related-tags li a {
            color: $color-accent;
            text-decoration: none;
        }
    }

    .related-content {
        padding-bottom: 20px;

        &-items {
            .teaser__image {
                margin-bottom: 5px;
            }

            .feed-item {
                &__section-tag {
                    @include type-teaser-tag;
                    display: block;
                }

                &__body-title {
                    margin-top: 0;
                }

            }
        }
    }

}

.feed__container .feed-item.feed-item--gallery::after {
    display: none;
}
