.newsletter-subscribe {
    font-size: 14px;
    text-align: center;
    font-family: $font-family-sans-serif-primary;
    padding: 12px 0 4px 0;

    @media #{$large-up} {
        border-width: 0 0 1px 0;
        border-style: solid;
    }

    a {
        @extend .button;
        @extend .button--subscribe;
        margin: 20px 0;
        line-height: 48px;
        min-width: 147px;
        @media #{$large-up} {
            width: 151px;
            margin: 20px 6px 20px 0;
        }
    }

    &__text {
        margin: 5px 0 -5px 0;
    }

    &__title {
        text-transform: uppercase;
        font-size: 20px;
        color: #333;
        font-weight: 500;
    }
}
