.mobile-menu__nav {
    font-size: 20px;

    a:hover {
        color: $color-white;
        font-weight: bold;
    }

    &::after {
        width: 70px;
        border-top: 1px solid $color-white;
        display: block;
    }
}

.mobile-menu-list {

    &:before {
        content: 'More From Our Network';
        font-family: 'PlayfairDisplay-Bold', sans-serif;
        color: $color-white;
        font-size: 16px;
    }

    li:nth-child(5) {
        margin-left: -3px;

        @media #{$medium-up} {
            margin-left: -4px;
        }
    }
}

.off-canvas {
    background-color: $color-black-origin;
}

.off-canvas-content-wrapper {
    svg {
        fill: $color-white;
    }
}
