.page-search-box {
  background-color: $color-white;  

  &__inner {
    padding: 15px 40px;
    margin-bottom: 30px;
  }

  &__title-text {      
    display: none;
  }

  &__tag-list {
    @include reset-list;  
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;

    @media #{$medium-up} {
      flex-wrap: nowrap;
      margin-top: 15px;
    }
  }

  &__tag-item {
    margin-right: 15px;    
  }

  &__tag-link {
    color: $color-accent;
    font-weight: bold;
    font-size: 12px;
    font-family: $font-family-sans-serif-primary;
    text-transform: uppercase;
    display: block;

    @media #{$medium-up} {
      font-size: 14px;
    }

    &:hover {
      color: lighten($color-accent, 10%)
    }
  }  
}
