// Primary colours have been moved to the bottom of this file.

//GT color
$color-gt-black-1:  #000000;
$color-gt-black-2:  #323232;
$color-gt-black-3:  #646464;
$color-gt-grey-1:   #969696;
$color-gt-grey-2:   #bcbec2;
$color-gt-white:    #ffffff;

//GT Button Color
$color-button:       $color-gt-black-1;
$color-button-hover: $color-gt-black-3;

//GT Text Color
$color-text:         $color-gt-black-2;
$color-text-grey:    $color-gt-black-3;
$color-text-light:   $color-gt-grey-1;
$color-text-lighter: $color-gt-grey-2;
$color-text-white:   $color-gt-white;

// Other colours
$color-purple: #811aff;
$color-violet: #ddd5ea;
$color-blue: #16d1ff;
$color-green: #31c7ce;
$color-yellow: #ffff5c;
$color-gold: #b49465;
$color-gold-light: #b39468; // HB accent
$color-orange: #ff771d;
$color-red: #c40010;

// Social
$facebook-blue: #3b5998;
$twitter-blue: #5dc8ff;
$pinterest-red: #dd2724;
$instagram-pink: #cd0077;
$youtube-red: #e62117;

// Variants
$color-primary-light: #fe2ea9;
$color-red-light: #ffd3ed;
$color-red-light2: #f8b8d6;

// B&W and Greys
$color-black-origin: #000;
$color-black: #333;
$color-black-light: #242424;// HB primary
$color-black-hover: #444;
$color-grey-darker: #777;   // Used in @bxm/article
$color-grey-dark: #777;     // Used in @bxm/article
$color-grey: #616161;       // HB secondary
$color-grey-light: #aaa;    // HB tertiary
$color-grey-lighter : #e9e9e9;
$color-grey-more-lighter : #f4f4f4;
$color-white: #fff;
$color-aqua: #31c7ce;
$color-dark-aqua: #009999;

// Brands
$wd-color: #ff2c71;
$aww-color: #b6956a;
$nl-color: #53a8b3;
$good-health-color: #6bc5aa;
$shop-color: #73cfea;
$nw-color: #ec008c;
$yours-color: #ed008e;
$take-5-color: #ec0057;
$ok-color: #cb071f;
$mother-baby-color: #ef85c9;
$tv-color: #e30613;
$ausgeo-color: #eb9611;

$nz-womans-weekly-color: #1fc4f4;
$nz-aww-color: #e31d3c;
$nz-next-color: #004cff;
$nz-good-health-choices-color: #009de1;
$nz-womans-day-color: #e6007d;
$nz-nadia-color: #151515;
$nz-simply-you-color: #151515;

// Other
$line-color: $color-gt-black-1;
$color-section-separator: #e5e5e5;
$color-header-menu-button: #555;
$color-footer-grey: #555;

// Main colours
$color-primary: $color-black-light;
$color-secondary: $color-grey;
$color-tertiary: $color-grey-light;
$color-accent: $color-gold-light;
