.home-page {
    &__teasers-title {
        clear: both;
        display: none;
        position: relative;
        text-align: center;
        margin-top: 20px;
        text-transform: uppercase;
        color: #333333;
        font: 14px/30px $font-family-sans-serif-primary;
        letter-spacing: 1px;

        span {
            padding: 0 17px;
            background: $color-white;
        }
    }

    .teaser__inner:hover .teaser__body h3 {
        color: #aaaaaa;
    }
}
