.mobile-menu__nav {
    font-size: 20px;

    a:hover {
        color: lighten($color-awwfood-gold, 30%);
    }

    &::after {
        width: 70px;
        border-top: 1px solid $color-white;
        display: block;
    }

    .nav-item {
        @extend .disable_text_highlighting;
        color: $color-white;
        text-transform: capitalize;
        letter-spacing: 0.02em;
        padding: 8px 0;
        font-size: 16px;
        font-style: normal;

        @media #{$medium-up} {
            font-size: 20px;
        }

        &--default-cursor {
            cursor: default;
        }

        &--active {
            color: $color-white;
        }
    }

    span {

        ul {

            li {
                max-width: 90%;
                padding-bottom: 8px;

                @media #{$medium-up} {
                    max-width: 220px;
                }

                a {
                    font-style: normal;
                    text-transform: capitalize;
                }
            }
        }
    }
}

.mobile-menu-list {

    &:before {
        content: 'More From Our Network';
        font-family: 'AbrilFatface-Regular';
        color: rgba($color-awwfood-light, 0.33);
        font-size: 18px;
        letter-spacing: 1px;
        height: auto;

        @media #{$small-only} {
            margin: 25px 0px 20px;
        }
    }

    li:nth-child(5) {

        margin-left: -3px;

        @media #{$medium-up} {
            margin-left: -4px;
        }
    }
}

.off-canvas {
    background-color: $color-primary;
}

.off-canvas-content-wrapper {

    svg {
        fill: $color-white;
        &:hover {
            fill: lighten($color-awwfood-gold, 30%);
        }
    }
}
