.social-link {
    padding-top: 0;

    &__label {
        display: none;
    }

    .social-link__icon svg {
        height: 34px;
        width: 34px;
    }

    svg path {
        .footer & {
            fill: $color-white;
        }

        fill: $color-awwfood-gold;
    }

    &--facebook:hover svg path {
        fill: $facebook-blue;
    }

    &--twitter:hover svg path {
        fill: $twitter-blue;
    }

    &--instagram:hover svg path {
        fill: $instagram-pink;
    }

    &--pinterest:hover svg path {
        fill: $pinterest-red;
    }

    &--youtube:hover svg path {
        fill: $youtube-red;
    }

    &--gift-card:hover svg path {
        fill: $gift-card-purple;
    }
}
