.teaser.teaser--has-video:after,
.teaser.teaser--gallery:after {
    display: none;
}

.teaser {
    background-color: $color-white;
    padding: $landing-page-teaser-gutter;
    box-shadow: $panel-shadow;

    &__inner {
        @extend .clearfix;
    }

    &__body {
        a:active,
        a:focus,
        a:hover {
            transition: opacity 1s;
            text-decoration: none;
            opacity: 0.55;
        }

        padding: 0 $column-gutter / 2;

        @media #{$large-up} {
            padding: 0;
        }
    }

    &__title {
        @include type-top-teaser-title;
        display: inline-block;
        margin-top: $teaser-content-space;
        margin-bottom: 0;

        a {
            color: $color-black;
            transition: opacity 1s;
            text-decoration: none;
            font-family: inherit;
            line-height: inherit;
            font-size: inherit;

            &:hover {
                opacity: 0.55;
            }
        }

        .container--collection & {
            max-width: calc(100% - #{$column-gutter});
            padding-left: $column-gutter / 2;
            vertical-align: top;
            font: 15px/20px "AbrilFatface-Regular";
            margin-top: 10px;

            @media #{$large-up} {
                font-size: 20px;
                line-height: 25px;
                margin-top: 15px;
            }
        }
    }

    &__badge-container {
        @include type-teaser-tag;
    }

    &__section-tag {
        .container--collection & {
            display: none;
        }
        @include type-teaser-tag;
        margin-bottom: 0;
        margin-top: $teaser-content-space;
    }

    &__summary {
        @include type-teaser-summary();
        margin-top: $teaser-content-space;
        margin-bottom: 0;
    }

    &__image {
        transition: opacity .5s ease;

        &:hover {
            opacity: 0.8;
        }
    }

    &__source {
        display: none;
    }

    &__index {
        @include type-header;
        border-bottom: 3px solid $color-awwfood-gold;
        min-width: 15px;
        display: inline-block;
        text-align: center;
        margin-top: $teaser-content-space;
    }

    .article__tags {
        @include type-teaser-tag;
        margin-top: $teaser-content-space;
        margin-bottom: 0;
    }

}
