
.teaser-view-grid.teaser__list {
    & > li {

        @media #{$medium-only} {
            padding: 0;
        }

        @media #{$large-only} {
            padding-bottom: 0;
        }
    }
}

.top-news-feed {

    & > .row {
        @media #{$medium-up} {
            margin-left: auto;
            margin-right: auto;
        }
    }

    .teaser-view-grid {
        .teaser {
            @media #{$small-only} {
                margin: {
                    left: -1 * $column-gutter/2;
                    right: -1 * $column-gutter/2;
                }
                padding-top: 0;
            }

            &__list-item {
                margin-bottom: $landing-page-teaser-gutter;

                &:last-child {
                    @media #{$small-only} {
                        margin-bottom: 0;
                    }
                }

                @media #{$medium-up} {

                    &:nth-child(2n - 1) {
                        padding-left: 0;
                        padding-right: $landing-page-teaser-gutter/2;
                    }

                    &:nth-child(2n) {
                        padding-right: 0;
                        padding-left: $landing-page-teaser-gutter/2;
                    }
                }

            }

            &__summary {
                display: none;
            }

            &__image {
                @media #{$medium-up} {

                    img {
                        border-radius: $teaser-image-border-radius;
                    }
                }
            }

            &__title {
                @media #{$medium-up} {
                    @include type-display-fix-lines(3, $top-teaser-title-line-hight);
                }
            }
        }
    }
}

.mustread-teaser-view-grid {
    @extend .clearfix;

    img {
        // Hack to ensure images take up the whole width in tablet view
        width: 100%;
    }

    .home-page__teasers-title {
        display: none;
    }

    .teaser__list {
        &[class*='block-grid-'] {
            display: flex;
            &:before,
            &:after {
                content: none;
                display: none;
            }

            margin: {
                top: 0;
                left: -$landing-page-teaser-gutter / 2 - 1*$column-gutter / 2;
                right: -$landing-page-teaser-gutter / 2 - 1*$column-gutter / 2;
                bottom: $landing-page-module-gutter;
            }

            @media #{$large-up} {
                margin: {
                    top: 0;
                    left: -$landing-page-teaser-gutter / 2;
                    right: -$landing-page-teaser-gutter / 2;
                    bottom: $landing-page-module-gutter;
                }
            }
        }
    }

    .teaser__list-item {
        // Following two line is to defeat block grid from foundation,
        // Changed to flex base grid for the design of white panel

        float: none;
        background-color: $color-white;
        box-shadow: $panel-shadow;

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6) {
            padding: 0;
        }

        .teaser {
            box-shadow: none;
            &__title {
                font-family: $font-text;
                font-size: $must-teaser-title-size;
                line-height: $must-teaser-title-lineheight;
                display: block;
                font-weight: 600;
            }

            &__summary {
                display: none;
            }

            &__image {
                img {
                    border-radius: $teaser-image-border-radius;
                }
            }
        }

        .teaser.teaser--has-video:after,
        .teaser.teaser--gallery:after {
            width: 25px;
            height: 25px;
        }

        width: calc(50% - #{$landing-page-teaser-gutter});
        margin: {
            left: $landing-page-teaser-gutter / 2;
            right: $landing-page-teaser-gutter / 2;
        }

        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6) {
            display: none;
        }

        @media #{$large-up} {
            width: calc(25% - #{$landing-page-teaser-gutter});
            margin: {
                left: $landing-page-teaser-gutter / 2;
                right: $landing-page-teaser-gutter / 2;
            }
            &:nth-child(3),
            &:nth-child(4) {
                display: block;
            }
        }
    }
}

$promoted-teaser-gutter: 30px;
.promoted-teaser-view-grid {
    border: 5px solid $color-awwfood-gold;
    text-align: center;
    box-shadow: $panel-shadow;
    background-color: $color-white;
    margin-top: $landing-page-teaser-gutter;

    @media #{$medium-up} {
        margin: $landing-page-module-gutter $promoted-teaser-gutter 0;
        max-width: $row-width;
    }

    ul {
        padding-bottom: $landing-page-teaser-gutter;
        @media #{$medium-up} {
            padding-bottom: $promoted-teaser-gutter;
        }
    }

    .home-page__teasers-title {
        @include page-title-with-underline(
            $title-padding: $article-padding,
            $fontSize: 26px,
            $lineHeight: 30px);
        @media #{$medium-up} {
            padding-top: $promoted-teaser-gutter;
            margin-bottom: $promoted-teaser-gutter;
            font-size: 36px;
            line-height: 42px;
        }
    }

    .teaser {
        text-align: left;
        box-shadow: none;
        padding: 0;
        margin: {
            top: 0;
            left: $landing-page-teaser-gutter / 2;
            right: $landing-page-teaser-gutter / 2;
            bottom: 0
        }

        @media #{$medium-up} {
            margin: {
                top: 0;
                left: $promoted-teaser-gutter / 2;
                right: $promoted-teaser-gutter / 2;
                bottom: 0
            }
        }

        &__body {
            margin: 0;
            line-height: 18px;
        }

        &__section-tag {
            margin: 5px 0 0;

            @media #{$medium-up} {
                margin: 12px 0 0;
            }
        }

        &__summary {
            display: none;
        }

        &__list-item {
            padding-bottom: 0;

            &:nth-child(-n+4) {
                padding-left: 0;
                padding-right: 0;
            }

            &:nth-child(3),
            &:nth-child(4) {
                display: none;
            }

            @media #{$medium-up} {

                &:nth-child(3) {
                    display: block;
                }
            }

            @media #{$large-up} {

                &:nth-child(4) {
                    display: block;
                }

            }

            .teaser__image {

                img {
                    border-radius: $teaser-image-border-radius;
                }
            }
        }

        &__title {
            font-family: $font-family-sans-serif-light;
            font-size: 12px;
            line-height: 18px;
            padding-left: 0;
            padding-right: 0;
            display: block;
            margin-top: 0;

            @media #{$medium-up} {
                font-size: $promoted-teaser-title-size;
            }

            a {
                @include type-teaser-summary;
                line-height: 18px;
                font-weight: 600;
            }
        }

        &.teaser--has-video:after,
        &.teaser.teaser--gallery:after {
            width: 25px;
            height: 25px;
        }

    }
}
