/*
.mustread-teaser-view-grid,
.promoted-teaser-view-grid,
.teaser-view-grid {
    .teaser__title {
        font: 400 20px/27px $font-family-serif-primary;
        margin-bottom: 6px;

        a {
            text-decoration: none;
            font-size: inherit;
            font-family: inherit;
        }
    }

    .teaser__summary {
        line-height: 21px;
        font-size: 13px;
    } 

    .teaser__body {
        margin-top: 7px;
        position: relative;
        font-family: $font-family-sans-serif-primary;
    }

    .teaser__source {
        font-size: 11px;
        line-height: 15px;
        font-weight: 400;
        padding: 0 15px;
        color: $color-grey-light;
        text-transform: uppercase;
        letter-spacing: .7px;
        display: none;

        @media #{$medium-up} {
            padding: 0;
            line-height: 12px;
        }

    }

    @media #{$small-only} {
        .teaser__body {
            margin-bottom: 40px;
            margin-top: 8px;
        }

        .teaser__title,
        .teaser__summary {
            line-height: 22px;
            padding-left: 15px;
            padding-right: 15px;
        }

        .teaser__title {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .teaser__badge-container {
            margin-left: 15px;
        }
    }

    @media #{$medium-only} {
        .teaser__title,
        .teaser__summary {
            padding-left: 0;
        }

        .teaser__badge-container {
            margin-left: 0;
        }
    }

    @media #{$medium-up} {
        .teaser__title {
            margin-bottom: 12px;
        }

        .teaser__body {
            margin-bottom: 30px;
        }
    }
}

.teaser-view-grid {

    .teaser__title {
        line-height: 24px;

        @media #{$medium-up} {
            margin-top: 0;
            line-height: 26px;
        }

    }

    .teaser__section-tag {
        padding: 0 $column-gutter/2;
        margin-top: 16px;
        margin-bottom: 0;

        @media #{$medium-up} {
            padding: 0;
            margin-bottom: 0px;
        }


    }
}
*/

.teaser-view-grid.teaser__list {
    & > li {

        @media #{$medium-only} {
            padding: 0;
        }

        @media #{$large-only} {
            padding-bottom: 0;
        }
    }
}

.top-news-feed {
    
    & > .row {
        @media #{$medium-up} {
            margin-left: auto;
            margin-right: auto;
        }
    }

    .teaser-view-grid {
        .teaser {
            @media #{$small-only} {
                margin: {
                    left: -1 * $column-gutter/2;
                    right: -1 * $column-gutter/2;
                }
                padding-top: 0;
            }
            
            &__list-item {
                margin-bottom: $landing-page-teaser-gutter;

                &:last-child {
                    @media #{$small-only} {
                        margin-bottom: 0;
                    }
                }
                
                @media #{$medium-up} {
                    
                    &:nth-child(2n - 1) {
                        padding-left: 0;
                        padding-right: $landing-page-teaser-gutter/2;
                    }

                    &:nth-child(2n) {
                        padding-right: 0;
                        padding-left: $landing-page-teaser-gutter/2;
                    }
                }
                
            }

            &__summary {
                display: none;
            }

            &__title {
                @media #{$medium-up} {
                    @include type-display-fix-lines(3, $top-teaser-title-line-hight);
                }
            }
        }
    }
}

.mustread-teaser-view-grid {

    img {
        // Hack to ensure images take up the whole width in tablet view
        width: 100%;
    }

    .home-page__teasers-title {
        display: none;
    }

    .teaser__list {
        background-color: $color-white;

        &[class*='block-grid-'] {
            display: table;
            width: calc(100% + #{$column-gutter});
            margin: 0 -1*$column-gutter/2 $landing-page-module-gutter;

            &:before,
            &:after {
                content: none;
                display: none;
            }

            @media #{$medium-up} {
                width: calc(100% + #{$column-gutter + $landing-page-teaser-gutter});
                margin: 0 -1*$column-gutter/2 $landing-page-module-gutter -1*($column-gutter/2+$landing-page-teaser-gutter);
            }

            @media #{$large-up} {
                width: calc(100% + #{$landing-page-teaser-gutter});
                margin-left: -1*$landing-page-teaser-gutter;
                margin-right: 0;
            }
        }
    }

    .teaser__list-item {
        // Following two line is to defeat block grid from foundation,
        // Changed to table base grid for the design of white panel
        display: table-cell;
        padding: 0!important; // to override the styling from app folder
        float: none;

        .teaser {

            &__title {
                font-family: $font-text;
                font-size: $must-teaser-title-size;
                line-height: $must-teaser-title-lineheight;
                display: block;
                font-weight: 600;
            }

            &__summary {
                display: none;
            }
        }

        .teaser.teaser--has-video:after,
        .teaser.teaser--gallery:after {
            width: 25px;
            height: 25px;
        }

        &:nth-child(1) {
            @media #{$small-only} {
                .teaser {
                    padding-right: $landing-page-teaser-gutter / 2;
                }
            }
        }

        &:nth-child(2) {
            @media #{$small-only} {
                .teaser {
                    padding-left: $landing-page-teaser-gutter / 2;
                }
            }
        }

        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6) {
            display: none;
        }

        @media #{$medium-up} {
            border-left: $body-bg-color solid $landing-page-teaser-gutter;

            &:nth-child(3),
            &:nth-child(4) {
                display: none;
            }

        }

        @media #{$large-up} {
            &:nth-child(3),
            &:nth-child(4) {
                display: table-cell;
            }
        }
    }
}

.promoted-teaser-view-grid {
    background-color: $color-white;
    margin-top: $landing-page-teaser-gutter + $landing-page-module-gutter;
    padding: {
        left: $landing-page-teaser-gutter / 2;
        right: $landing-page-teaser-gutter / 2;
    }
    
    @media #{$medium-up} {
        margin: $landing-page-module-gutter $column-gutter 0;
        max-width: $row-width;
    }

    ul {
        padding-bottom: 20px;
    }

    .home-page__teasers-title {
        @include content-body-section-heading-style;
        position: relative;
        top: -$landing-page-teaser-gutter;
        text-align: center;
        width: calc(100% + #{$landing-page-teaser-gutter});
        font-family: $font-header;
        margin: {
            left: -$landing-page-teaser-gutter / 2;
            right: -$landing-page-teaser-gutter / 2;
        }
        
        
    }

    .teaser {

        padding: {
            top: 0;
            left: $landing-page-teaser-gutter / 2;
            right: $landing-page-teaser-gutter / 2;
            bottom: 0
        }

        &__body {
            margin: 0;
            line-height: 18px;
        }

        &__section-tag {
            margin: 5px 0 0;

            @media #{$medium-up} {
                margin: 12px 0 0;
            }
        }

        &__summary {
            display: none;
        }

        &__list-item {
            padding-bottom: 0;
            
            &:nth-child(-n+4) {
                padding-left: 0;
                padding-right: 0;
            }

            &:nth-child(3),
            &:nth-child(4) {
                display: none;
            }

            @media #{$medium-up} {

                &:nth-child(3) {
                    display: block;
                }
            }

            @media #{$large-up} {

                &:nth-child(4) {
                    display: block;
                }

            }
        }

        &__title {
            font-family: $font-family-sans-serif-light;
            font-size: 12px;
            line-height: 18px;
            padding-left: 0;
            padding-right: 0;
            display: block;
            margin-top: 0;

            @media #{$medium-up} {
                font-size: $promoted-teaser-title-size;
            }

            a {
                @include type-top-teaser-title;
                line-height: 18px;
                font-weight: 400;
            }
        }

        &.teaser--has-video:after,
        &.teaser.teaser--gallery:after {
            width: 25px;
            height: 25px;
        }

    }
}