.teaser-view-list {

    &.teaser__list > li {
        padding: 0;

        @media #{$medium-only} {
            padding: 0;
        }

        @media #{$large-only} {
            padding-bottom: 0;
        }
    }

    .teaser {
        @media #{$small-only} {

            .teaser__summary-wrap {
                display: none;
            }
            .article__tags {
                display: none;
            }
        }

        &__image {
            padding-left: 0;
            padding-right: 0;
            display: inline-block;
        }

        &__source {
            display: none;
        }
    }

    .teaser__list-item--ad {

        @media #{$medium-up} {
            display: none;
        }
    }

    .teaser__list-item {

        margin-top: $landing-page-teaser-gutter;

        &:not(.teaser__list-item--ad) {
            padding-top: 0;
        }

        &.teaser__list-item--ad {
            @media #{$medium-up} {
                padding-bottom: 0;
            }
        }
    }

}
