// Base button styles

.button {
    background-color: $color-awwfood-gold;
    border: none;
    outline: none;
    border-radius: 26px;
    color: $color-button;
    display: inline-block;
    font: 600 11px Nunito-Regular;
    letter-spacing: 3px;
    height: 52px;
    padding: 0 33px;
    text-transform: uppercase;
    white-space: nowrap;
    transition: background $transition-duration ease-in-out;

    &:not(:disabled):not(.disabled) {
        &:hover,
        &:focus {
            background-color: $color-button-hover;
            outline: none;
            text-decoration: none;
            color: $color-white;
        }
    }

    &:active,
    &.active {
        .down-arrow svg {
            fill: $color-white;
        }
    }

    &:disabled,
    &.disabled {
        color: $color-red-light2;
        cursor: default;

        &:hover,
        &:focus {
            text-decoration: none;
        }
    }

    &--category {
        .icon-arrow {
            display: inline-block;
            fill: $color-primary;
            margin-left: 10px;
            position: relative;
            top: 1px;
        }

        .arrow {
            width: 10px;
        }

        &:active,
        &.active {
            .icon-arrow {
                fill: $color-white;
            }
        }

        &.active {
            .icon-arrow {
                top: -1px;
                transform: rotate(180deg);
            }
        }

        @media #{$large-up} {
            .icon-arrow {
                top: 0;
            }

            .arrow {
                width: 12px;
            }

            &.active {
                .icon-arrow {
                    top: -2px;
                }
            }
        }
    }

    &--load-more {
        margin: 30px auto;

        @media #{$medium-up} {
            margin-bottom: 40px;
        }
    }

    &--link {
        padding-top: 17px;
    }

    &--subscribe {
        &:hover,
        &:focus,
        &:active,
        &.active {
            text-decoration: none;
        }

        .footer & {
            padding: {
                left: 0;
                right: 0;
            }
            width: 100%;
            letter-spacing: .8px;
        }

        &--multiple {
            margin-top: 10px;
        }
    }
}
