.header {
    $root: &;

    border-width: 0;
    background-color: $color-white;
    color: $color-text;
    position: fixed;
    border-bottom: 1px solid $color-accent;
    height: 54px;    

    @media #{$medium-up} {
        border-width: 1px;
        border-bottom: none;        
    }    

    &--hidden {
        @media #{$small-only} {
            transition: all 1500ms ease;
            transform: translateY(-100%);
            opacity: 0;
        }
    }

    &--expanded {
        position: absolute;

        @media #{$small-only} {
            height: 105px;
        }
    }

    &--pinned {
        position: fixed;
    }

    .page--home, .page--section & {
        position: absolute;
        #{$root}--pinned {
            position: fixed;
        }        
    }

    .page--home & {
        height: 55px;

        @media #{$medium-up} {
            height: auto;
        }
    }

    .error-page & {
        @media #{$medium-up} {
            position: absolute;
        }
    }

    &__sections {
        background: none;
        max-width: none;
        display: flex;

        @media #{$medium-up} {
            border-top: 1px solid $color-accent;
            border-bottom: 1px solid $color-accent;            
            height: 60px;
        }

        @media #{$large-up} {
            padding: 0 calc( 50% - #{$header-content-width-desktop/2} );
        }

        &:after {            
            display: none;            

            @media only screen and (min-width: 1520px) {
                position: absolute;
                display: block;
                right: 10px;
                background-image: url(/assets/images/countdown-logo.png);
                background-position: right;
                background-repeat: no-repeat;
                background-size: 253px;
                width: 300px;
                height: 100%;
                top: 0;
            }
        }
    }
}

