.error-page {

    .header-wrapper--expanded {
        @media #{$medium-up} {
            margin-bottom: 165px;
        }
    }

    .header__sections {
        @media #{$medium-up} {
            display: none;
        }
    }

    .content-wrapper {
        @media #{$medium-up} {
            padding-top: 0;
        }
    }

    .footer {
        margin-top: $column-gutter;

        .subscribe {
            display: none;
        }
    }
}

.error-page-container {
    padding: 0 $column-gutter/2;
    text-align: center;

    @media #{$medium-up} {
        text-align: center;
    }

    .emoji {
        width: 100%;
        max-width: 550px;
        height: auto;
        position: relative;
        display: block;
        margin: 0 auto;
    }

    &__footer {
        margin-top: $column-gutter;
    }

    &__body-item {
        margin-top: $column-gutter;
        font-family: $font-family-serif-primary;
        font-size: 27px;
        display: inline-block;
        border: 12px solid $color-white;
    
        @media #{$medium-up} {
            font-size: 60px;
        }
    }

    &__homepage-link {
        font-weight: normal;
        color: $color-text;
        font: 16px/22px $font-family-serif-secondary;
        text-decoration: none;
        text-transform: none;
    
        .error-page__text-hyperlink {
            text-decoration: underline;
        }
    }
}

.page-title.error-page-container__title {

    .page & {
        max-width: 600px;
        background-color: transparent;
        color: $color-awwfood-black;
        letter-spacing: .5px;
        border-top: none;
        border-bottom: none;
        margin-top: $column-gutter;
        text-transform: none;
        margin: {
            left: auto;
            right: auto;
        }

        @media #{$medium-up} {
            border-left: none;
            border-right: none;
        }
    }

    .page-title__symbol:before {
        content: none;
    }

    @media #{$medium-up} {
        margin: 48px auto 35px;
        max-width: 750px;
    }

    span {
        color: inherit;
        font-size: 22px;
        line-height: 28px;

        @media #{$medium-up} {
            font-size: 36px;
            line-height: 40px;
        }

        &:after {
            content: none;
        }
    }
}
