.footer__logos {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media #{$medium-up} {
      margin-right: 30px;
      margin-left: 30px;
  }

  &-title {
    flex: 0 0 auto;
    font-size: 20px;
    color: $color-black;
    font-family: $small-text-font;
    letter-spacing: 1.5px;
  }

  &-list {
    @include reset-list;
    flex: 0 0 auto;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    flex-wrap: wrap;
    
    @media #{medium-up} {
      flex-wrap: nowrap;
    }

  }

  &-list__list-item {
    flex: 1 0 auto;
    margin: 15px;
  }

  &-list__link {
    display: block;
    width: 100%;
  } 

  &-list__logo {
    filter: invert(0.5) opacity(0.8);
    height: 100%;
    width: 80px;
    transition: filter linear .175s;    
  
    &:hover {
      filter: none;
    }
  } 
}
