.page--section {
    .page-title-container {
        max-width: $row-width - 2 * $column-gutter ;
        overflow: auto;
        background: $color-white;
        margin: 0 auto (-0.5 * $column-gutter);

        @media #{$medium-up} {
            margin-top: $landing-page-module-gutter;
        }
    }

    .page-title {
        font-family: $font-header;
        margin: 0;
        border-top: $landing-page-teaser-gutter solid $color-white;
        border-bottom: $landing-page-teaser-gutter solid $color-white;
        background-color: $color-awwfood-gold;
        width: auto;
        @media #{$medium-up} {
            border: $landing-page-teaser-gutter solid $color-white;
        }
    }
}
