.home-page__social-logo {
    display: block;
    width: auto;
    min-width: unset;
    margin-bottom: 20px;

    @media #{$medium-up} {
        display: inline-block;
        margin-bottom: 0;
    }

    &::before {
        content: 'FOLLOW US';
        display: block;
        font: 600 20px/40px $font-family-sans-serif-primary;
        letter-spacing: 1px;
        color: $color-black-light;
        margin-right: 0;

        @media #{$medium-up} {
            margin-right: 15px;
        }
    }
}

.get-social {
    display: block;

    @media #{$medium-up} {
        display: inline-block;
    }
}

.footer {

    @media #{$medium-up} {
        padding: 35px 0;
    }

    &::before {
        border-top: 1px solid $color-grey-lighter;
        display: block;
        margin: 35px 15px;
    }

    .home-page__social-logo {
        display: inline-block;
        width: auto;
        min-width: unset;
        font-size: 0;
        background: none;
        text-indent: 0;
    }

    .get-social {
        width: auto;
    }

    &__navigation::before {
        border-bottom: 1px solid $color-grey-lighter;
        display: none;
        margin: 0 15px;
    }

    &::before, &__navigation::before {
        content: '';
        @media #{$medium-up} {
            display: block;
            margin: 35px 20px;
        }

        @media #{$large-up} {
            display: block;
            margin: 35px 30px;
        }
    }

    &__copyright {
        margin-top: 15px;
        padding-top: 0;

        &-rights {
            margin-left: 0;
            display: block;
            margin-top: 5px;

            @media #{$medium-up} {
                display: inline-block;
                margin-left: 10px;
            }
        }
    }

}

.footer .social-link,
.page__top-container .get-social .get-social__links .social-link,
.page__top-container .get-social .get-social__links .social-link .social-link {
    width: 35px;

    &:not(:last-child) {
        margin-right: 10px;
    }

    &__icon svg {
        height: 35px;
        width: 35px;
        border: 1px solid $line-color;
        border-radius: 16px;
    }
}

.subscribe {

    &__subscribe {
        margin: 30px auto auto;
        max-width: 350px;
        padding: 0 15px;

        @media #{$medium-up} {
            margin-top: 20px;
        }

        @media #{$large-up} {
            margin-top: 0;
        }

    }

    &__heading {
        font-weight: 600;
        letter-spacing: 0.06em;
        margin-bottom: 20px;
        color: $color-black-hover;

        &::before {
            border: none;
            background: transparent url('../assets/images/arrow-down.svg') no-repeat 0 0;
            height: 20px;
            width: 20px;
        }

    }

    &__content {
        color: $color-grey;
    }

    &__action {
        padding: 10px 0;

        @media #{$medium-up} {
            padding: 0;
        }
    }

}
