// Primary colours have been moved to the bottom of this file.

//Awwfood color
$color-awwfood-black:  #333333;
$color-awwfood-white:  #fcfbfb;
$color-awwfood-gold:  #b6956a;
$color-awwfood-light-gold:  #d3bfa6;
$color-awwfood-light:  #dbe9eb;
$color-awwfood-yellow: #ffd55d;

//Awwfood Button Color
$color-button:       #fff;
$color-button-hover: lighten($color-awwfood-gold, 10%);

//Awwfood Text Color
$color-text:         $color-awwfood-black;
$color-text-gold:    $color-awwfood-gold;
$color-text-grey:    $color-awwfood-black;
$color-text-light:   $color-awwfood-yellow;
$color-text-lighter: $color-awwfood-yellow;
$color-text-white:   $color-awwfood-light;

// Other colours
$color-purple: #811aff;
$color-violet: #ddd5ea;
$color-blue: #16d1ff;
$color-green: #31c7ce;
$color-yellow: #ffff5c;
$color-gold: #b49465;
$color-gold-light: #b39468; // HB accent
$color-orange: #ff771d;
$color-red: #c40010;
$feed-item-header-colour: $color-awwfood-black;

// Social
$facebook-blue: #3b5998;
$twitter-blue: #5dc8ff;
$pinterest-red: #dd2724;
$instagram-pink: #cd0077;
$youtube-red: #e62117;
$gift-card-purple: #663366;

// Variants
$color-primary-light: #fe2ea9;
$color-red-light: #ffd3ed;
$color-red-light2: #f8b8d6;

// B&W and Greys
$color-black-origin: #000;
$color-black: $color-awwfood-black;
$color-black-light: #242424;// HB primary
$color-black-hover: #444;
$color-grey-darker: #777;   // Used in @bxm/article
$color-grey-dark: #777;     // Used in @bxm/article
$color-grey: #616161;       // HB secondary
$color-grey-light: #aaa;    // HB tertiary
$color-grey-lighter : #e9e9e9;
$color-grey-more-lighter : #f4f4f4;
$color-grey-mid: #323232;
$color-white: #fff;
$color-aqua: #31c7ce;
$color-dark-aqua: #009999;

// Brands
$wd-color: #ff2c71;
$aww-color: #b6956a;
$nl-color: #53a8b3;
$good-health-color: #6bc5aa;
$shop-color: #73cfea;
$nw-color: #ec008c;
$yours-color: #ed008e;
$take-5-color: #ec0057;
$ok-color: #cb071f;
$mother-baby-color: #ef85c9;
$tv-color: #e30613;
$ausgeo-color: #eb9611;

$nz-womans-weekly-color: #1fc4f4;
$nz-aww-color: #e31d3c;
$nz-next-color: #004cff;
$nz-good-health-choices-color: #009de1;
$nz-womans-day-color: #e6007d;
$nz-nadia-color: #151515;
$nz-simply-you-color: #151515;

// Other
$line-color: $color-awwfood-black;
$color-section-separator: #e5e5e5;
$color-header-menu-button: #555;
$color-footer-grey: #555;
$color-heading-bg: $color-awwfood-gold;


// Main colours
$color-primary: $color-awwfood-black;
$color-secondary: $color-grey;
$color-tertiary: $color-grey-light;
$color-accent: $color-gold-light;
