.gallery__mobile-ad {
    margin-top: 0;
    padding: 0 0 15px;
}

.ad--section-top-leaderboard {
    @media #{$large-up} {
        position: relative;
        z-index: 1;
        max-width: 1024px;
        margin: 0px auto 10px;
    }
}

.site-wrapper {
    .content-wrapper {
        @media #{$medium-up} {
            padding-top: $landing-page-module-gutter;
        }
    }
}

.sticky-block {
    &.sticky-block--in-view {
        .ad--section-bottom-leaderboard {
            margin-bottom: 0;
        }
    }
}
