.content-body {

    @include full-width;
    @include content-body-component;
    box-shadow: $panel-shadow;

    // & + & {
    //     margin-top: -1 * $article-gap;
    //     box-shadow: $panel-shadow;
    // }

    li {
        padding-bottom: 15px;
        color: $color-text;
        margin-bottom: 0;
        @include type-text;
    }

    &-container {
        @include mobile-padding-collapse;
        margin-top: $article-gap;

        & + .newsletter-signup-wrapper {
            margin-top: $article-gap;
        }
    }

    a {
        @include type-link;
        font-size: 15px;
        text-decoration: underline;
    }

    p {
        @include content-body-component;
        padding-bottom: 0;
        margin: 0;

        &.content-body__paragraph:last-child {
            padding-bottom: $article-padding;
        }
    }

    h2 {
        @include type-article-heading;
        @include content-body-component;
        margin-top: 0;
        padding-bottom: 0;
    }

    &__heading {
        @include type-article-heading;
        @include content-body-component;
        @include full-width;
        
        @media #{$large-up} {
            width: 100%;
        }

        h2 {
            @include content-body-component;
            margin-top: 0;
            padding-bottom: 0;
        }

        & + .content-body {
            margin-top: -1 * $article-gap;
            box-shadow: $panel-shadow;
        }
    }

    &__inline-image {
        box-shadow: $panel-shadow;
        margin-top: $article-gap;
        margin-bottom: 0;

        figure figcaption {
            @include img-caption-style;
            margin-left: 0px;
            margin-right: 0px;
        }
        
        picture {
            display: block;
            @media #{$medium-up} {
                padding: $article-padding;
                background-color: $color-white;
            }
            img {
                width: 100%;
            }
        }

        @media #{$medium-up} {
            width: 100%;
        }
    }

    &__related-content {
        margin-top: $article-gap;
        margin-bottom: 0;
        padding: 0;
        border: 0px solid $line-color;
        border-top: none;
        border-bottom: none;

        @media #{$large-up} {
            text-align: center;
            border-left: none;
            border-right: none;
            margin-left: 0;
            margin-right: 0;
            width: auto;
        }

        .related-content-wrapper {
            @include content-body-component;
            box-shadow: $panel-shadow;
            margin-left: 0;
            margin-right: 0;
        }

        .related-content__heading {
            @include content-body-section-heading-style;
            margin-top: 0;
            margin-bottom: -1 * $article-gap;
        }

        .feed-item {
            .feed-item__source,
            .feed-item__body-title {
                @include type-text-light;
                letter-spacing: .03em;
                text-align: left;
                text-decoration: none;

                @media #{$large-up} {
                    text-align: center;
                }
            }
        }
    }

    &__gallery-link {
        margin-top: $article-gap;
        margin-bottom: 0;
    }

    &__gallery-link-caption {
        -webkit-font-smoothing: auto;
        background-color: $color-grey-light;
        color: $color-text;
        position: static;
        margin-left: 0;
        margin-right: 0;
        padding-top: 18px;
        padding-bottom: 20px;
 	 
        @media #{$medium-up} {
            width: 100%;
        }
    }

    &__gallery-link-title {
        background-color: $color-text;
        color: $color-grey-light;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        padding-top: 3px;
    }

    &__tips {
        @include content-body-component;
        box-shadow: $panel-shadow;
        font-family: $font-text;
        border: 1px solid $color-awwfood-black;
        padding: 0;

        p {
            margin: 0px;
        }

        @media #{$medium-up} {
            margin-top: $article-gap;
            margin-bottom: 0;
        }

        .tips {
            padding: 20px;
        }
    }
    &__embed {
        @include full-width;
        margin-bottom: 0;
    }
    &__embed--facebook,
    &__embed--giphy,
    &__embed--playbuzz,
    &__embed-video-container {
        box-shadow: $panel-shadow;
        @include content-body-component;
    }

    &__inline-image,
    &__embed--giphy {
        margin-left: 0;
        margin-right: 0;
    }

    .image-revealer,
    &__embed-video {
        margin-top: 0;
        margin-bottom: 0;
    }
}
