.more-from {
  $self: &;  
  text-align: center;
  box-shadow: $panel-shadow;
  background-color: $color-white;
  margin-top: 30px;
  padding: 15px 0;

  &__heading {
    text-align: center;
    font-size: 18px;
    margin: 0;
    padding: 0;
  }
  
  &__teaser-list {
    display: flex;    
    list-style-type: none;
    padding: 0 15px;
    margin-top: 0;
    flex-wrap: wrap;

    @media #{$medium-up} {
      flex-wrap: nowrap;
    }    
  }

  &__teaser-list-item {
    box-shadow: none;
    display: flex;
    text-align: left;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 50%;

    @media #{$medium-up} {
      flex-basis: 50%;
    }    
  }

  .teaser__title {
    font-family: $font-text;
    font-size: 13px;
  }

  .teaser {
    box-shadow: none;
  }
}
