.newsletter-subscribe {
    margin-top: $landing-page-module-gutter;

    text-align: center;

    a {
        @extend .button;
        @extend .button--subscribe;
        margin: 20px 0 0;
        line-height: 48px;
        min-width: 147px;
        @media #{$large-up} {
            width: 151px;
        }
    }

    &__text {
        font-family: $font-family-sans-serif-light;
        font-size: 14px;
        margin: 8px 0 -5px 0;
        letter-spacing: 0.005em;
    }

    &__title {
        @include type-header;
        color: #333;
        font-size: 24px;
    }
}
