.recipe-overview {
  display: block;
  margin: 0;
  background-color: $color-heading-bg;
  color: $color-white;
  text-align: center;
  padding: 15px $article-padding;
  line-height: 1.1;
  margin-top: $article-padding;
  margin-bottom: -1 * $article-padding;
  position: relative;
  z-index: 2;

  @media #{$medium-up} {
      margin-left: $article-padding;
      margin-right: $article-padding;
      border-top-left-radius: $article-padding;
      border-top-right-radius: $article-padding;
  }

  &__item {
      display: inline-block;
      white-space: nowrap;
      border-right: 1px solid $color-white;
      font-size: 11px;
      padding-left: 10px;
      padding-right: 10px;
      &:last-child {
          border-right: none;
      }
      @media #{$small-only} {
          &:last-of-type {
              border-right: none;
          }
      }
  }

  &__print {
    display: none;
    @media #{$medium-up} {
        display: inline-block;
        width: 3%;
        margin: 0 0 0 10px;
        cursor: pointer;
    }
  }

  &__print--text {
    display: none;
    @media #{$medium-up} {
        display: inline-block;
        font-size: 11px;
        font-weight: bold;
        cursor: pointer;
        padding-left: 10px;
        padding-right: 10px;
    }
  }

}
