.signup-form {
    $self: &;
    margin-top: 10px;
    
    @media #{$medium-up} {
        margin-top: $landing-page-module-gutter;
        &__submit-button {
            margin-top: 20px;
        }
    }

    &--inline {
        
        #{$self}__submit-button {
            background-color: $color-awwfood-gold;

            &.button { 
                &:hover,
                &:active,
                &:focus {
                    background-color: $color-button-hover;
                }
            }
        }
    }
}
