.social-link {
    padding-top: 0;

    &__label {
        display: none;
    }

    svg path:first-child {
        fill: $color-primary;
    }

    &--facebook svg path:first-child {
        fill: $facebook-blue;
    }

    &--twitter svg path:first-child {
        fill: $twitter-blue;
    }

    &--instagram svg path:first-child {
        fill: $instagram-pink;
    }

    &--pinterest svg path:first-child {
        fill: $pinterest-red;
    }

    &--youtube svg path:first-child {
        fill: $youtube-red;
    }
}
