.brand--magazine {
    &-container {
        
        margin-top: $landing-page-module-gutter;

        @media #{$medium-only} {
            width: 50%;
        }

        .button--subscribe {
            margin: 20px 0 0;
        }
    }
    &-title {
        display: none;
    }

    &-image {
        
        & img {
            max-height: 295px;

            @media #{$medium-only} {
                max-height: 180px;
            }
        }
    }
}
