$head-content-width-large: 1024px;
$head-content-width-medium: 1024px;
$head-logo-font-size: 35px;

.header-wrapper {
    overflow: auto;
    margin-bottom: $header-height;
    padding-bottom: 1px;

    @media #{$medium-up} {
        padding-bottom: 0;
        margin-bottom: 95px;
    }

    &.header-wrapper--expanded {
        @media #{$small-only} {
            margin-bottom: $header-height;
        }

        @media #{$medium-up} {
            margin-bottom: 216px;
        }
    }
}

.page--home .header, .page--section .header {
    position: absolute;
    &--pinned {
        position: fixed;
    }
}

.header-search--icon-container {
    top: auto;
    height: auto;
}

.page--home .header-search--icon-container {
    top: auto;
    height: auto;
}

.error-page .header {
    @media #{$medium-up} {
        position: absolute;
    }
}

// Header styles for all header types
.header {
    border-width: 0;
    background-color: $color-awwfood-light;
    color: $color-text;
    box-shadow: $panel-shadow-y;
    position: fixed;

    &.header--hide {
        @media #{$small-only} {
            transition: all 1500ms ease;
            transform: translateY(-100%);
            opacity: 0;
        }
    }

    @media #{$small-only} {
        height: $header-height;
        background-color: $color-white;
    }

    @media #{$medium-up} {
        border-width: 1px;
    }

    .page--home & {
        @media #{$small-only} {
            height: $header-height;
        }
    }

    .header__sections {
        background: none;
        max-width: none;
        width: 100%;

        .nav-item--active {
            color: $color-tertiary;
        }


        @media #{$large-up} {
            width: $head-content-width-large;
        }
    }

    &.header--expanded.header--pinned .header-logo {
        @media #{$medium-up} {
            width: 120px;
        }

    }

    .header-logo {
        text-align: center;
        transition: width $header-transition-duration;

        @media #{$medium-up} {
            width: 120px;
            margin-left: -40px;
        }

    }

    &.header--expanded {
        @media #{$small-only} {
            height: $header-height;
        }

        .header-logo__link-image {
            i {
                @media #{$small-only} {
                    font-size: $head-logo-font-size;
                    line-height: $header-height;
                }
            }
        }
    }

    .header-logo__link-image {
        width: auto;
        height: auto;
        background-image: none;

        i {
            color: $color-text;
            font-size: $head-logo-font-size;
            line-height: $header-height;

            @media #{$medium-up} {
                line-height: $head-logo-font-size;
            }
        }

        @media #{$medium-up} {
            height: $head-logo-font-size;
            width: ($head-logo-font-size * $header-logo-aspect-ratio);
            margin-left: 0;
        }

        &:hover {
            opacity: $hover-opacity;
        }
    }

    .header-banner {
        line-height: 125px;
        background: none;

        a {
            background-image: none;
            height: 100px;
            vertical-align: top;
            width: 70%;

            @media #{$medium-up} {
                margin: 8px 0;
                height: 125px;
                width: (125px * $header-logo-aspect-ratio);
            }

            i {
                color: $color-text;
                font-size: 70px;
                line-height: 125px;
            }
        }
    }

    .header-menu {
        &__button-menu {
            line-height: $header-height;

            .header-wrapper--expanded & {
                line-height: $header-height;

                @media #{$medium-up} {
                    line-height: $header-height-desktop;
                }
            }

            padding: 0 $column-gutter / 2;

            @media #{$medium-up} {
                line-height: $header-height-desktop;
                padding: 0 $column-gutter 0 38px;
            }

            svg,
            svg path {
                fill: $color-text;
            }

            &:hover svg,
            &:hover svg path {
                fill: $color-black;
                opacity: $hover-opacity;
                transition: opacity 0.3s;
                transition-timing-function: ease-in-out;
            }
        }

        &__button-icon {
            height: 20px;
            width: 20px;
        }
    }

    .header-nav {
        width: calc(100% - #{$header-logo-container-width-desktop - 112px});
        transition: width $header-transition-duration;

        @media #{$medium-up} {
            display: inline-block;
            width: calc( 100% - 160px );
            &:before {
                content: none;
            }
        }

        @media #{$large-up} {
            width: $head-content-width-large - 160px;
        }

        nav {
            transition: margin-left $header-transition-duration,transform $header-transition-duration,-webkit-transform $header-transition-duration;
        }

        .nav-item {
            $this: ".nav-item";
            display: inline-block;
            text-decoration: none;
            padding: 0 5px;
            color: $color-text;
            letter-spacing: 0.2pt;
            font: 12px $font-text;
            text-transform: uppercase;
            font-weight: 600;

            &:active,
            &:focus,
            &:hover,
            &#{$this}--active {
                color: $color-awwfood-gold;
            }

            &#{$this}--default-cursor {
                cursor: default;
            }

            @media #{$large-up} {
                padding: 0 15px;
                letter-spacing: 0.4pt;
                font-size: 13px;
            }
        }

        &__nav {
            white-space: nowrap;

            > a,
            .header-sub-nav > a {
                text-decoration: none;

                &:before {
                    content: none;
                }

                &:active,
                &:focus,
                &:hover,
                &.nav-item--active {
                    color: $color-awwfood-gold;
                }
            }
        }
    }

    .header-nav__nav {
        filter: blur(0);
        height: 35px;
        line-height: 2em;
        margin-top: 14px;
        vertical-align: top;
        white-space: nowrap;
        width: 100%;

        .header-sub-nav {
            display: inline-block;
            vertical-align: top;
            position: relative;

            &:hover {
                .sub-nav-list__dropdown {
                    display: block;
                    visibility: visible;
                    opacity: 1;
                }
            }

            > a {
                .tl-icon-drop-menu {
                    display: none;
                }

            }

            .sub-nav-list__dropdown {
                display: block;
                visibility: hidden;
                opacity: 0;
                position: absolute;
                z-index: 1500;
                background-color: $color-awwfood-light;
                list-style-type: none;
                padding: 5px 15px 9px;
                left: 50%;
                transform: translateX(-50%);
                top: 31px; // Distance from bottom of nav item to top of sub-nav drop-down
                width: 130px;
                text-align: center;
                white-space: normal;

                .page--home & {
                    top: 24px;
                }

                @media #{$medium-up} {
                    width: 165px;
                    // Slowly hide to allow mouse to drag from nav to reach sub-nav before it disappears
                    transition: visibility 0s linear .15s, opacity .5s linear;
                }

                &:hover {
                    display: block;
                    visibility: visible;
                    opacity: 1;
                }

                li {
                    line-height: 28px;

                    a {
                        float: none;
                        padding: 10px 0 0;
                        display: inline-block;
                    }
                }
            }
        }
    }

    .header-search {

        @media #{$medium-up} {
            right: 20px;
            left: auto;
        }

        @media #{$large-up} {
            right: auto;
            left: calc(50% + 455px);
        }
    }
}

.header.header--expanded.header--pinned {
    .header-nav__nav .header-sub-nav {
        .sub-nav-list__dropdown {
            top: 31px;
        }
    }
}

// When header is expanded i.e home page and when it has not been fixed to the top
.header.header--expanded:not(.header--pinned) {

    @media #{$xlarge-up} {
        transition: left $animation-timings cubic-bezier(.23, .71, .45, 1), box-shadow $header-transition-duration;
    }

    .header__sections {

        > div {
            @media #{$medium-up} {
                float: left;
                height: $header-height-desktop;
            }
        }
    }

    .header-banner {
        background-color: $color-white;

        @media #{$xlarge-up} {
            line-height: $header-banner-logo-height;
        }
    }

    .header-nav {
        @media #{$medium-up} {
            display: block;
            width: calc( 100% - 160px );
        }

        @media #{$large-up} {
            width: $head-content-width-large - 160px;
        }

        &:before {
            display: none;
        }

        nav {
            height: 26px;
            line-height: 1.5em;
            margin-left: 0;
            text-align: center;
            transform: translate(0);
            width: 100%;
        }

        a:first-child:before {
            opacity: 1;
        }
    }

    .header-nav__nav {
        @media #{$medium-up} {
            line-height: 1em;
            margin-top: 20px;
            vertical-align: top;
        }
    }

    .header-logo {
        @media #{$large-up} {
            margin-left: 0;
        }

        @media #{$xlarge-up} {
            transition: none;
        }
    }
}

.header-search {
    top: 0;

    &__open {
        .header-search--icon-container {
            background-color: $color-awwfood-light;
        }

        .header-search--icon {

            path {
                fill: $color-awwfood-gold;
            }
        }
    }

    &--icon {
        top: 0;
        height: 25px;

        .page--home & {
            top: 0;
        }

        @media #{$medium-up} {
            top: 0;
        }

        @media #{$large-up} {
            top: 0;
        }
    }

    &--input {
        height: $header-height;
        border-color: $color-awwfood-light;

        input {
            &[type='text'] {
                height: auto;
                width: 100%;
                outline: none;
                &:focus {
                    outline: none;
                }
            }
        }

        @media #{$medium-up} {
            height: $header-height-desktop;
        }
    }

    &--submit {
        height: $header-height;
        width: $header-height;

        @media #{$medium-up} {
            height: $header-height-desktop - 2px;
            width: $header-height-desktop - 2px;
        }
    }

    &--icon-container {
        width: $header-height;
        right: 1px;
    }
}
