.error-page {

    .header-wrapper--expanded {
        @media #{$medium-up} {
            margin-bottom: 165px;
        }
    }

    .header__sections {
        @media #{$medium-up} {
            display: none;
        }
    }

    .footer {
        padding: 20px 0;
        text-decoration: none;
        margin-top: 0;
    }
}

.error-page-container {
    color: $color-black;
    padding: 0 $column-gutter/2;
    text-align: center;

    @media #{$medium-up} {
        text-align: center;
    }

    .emoji {
        width: 100%;
        height: auto;
        position: relative;
        display: block;
        margin: 0 auto;

        @media #{$medium-up} {
            width: 50%;
        }
    }
}

.error-page-container__body-item {
    font-family: $font-family-serif-primary;
    font-size: 27px;

    @media #{$medium-up} {
        font-size: 60px;
    }
}

.error-page-container__homepage-link {
    font-weight: normal;
    color: $color-text;
    font: 16px/22px $font-family-serif-secondary;
    text-decoration: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0.005em;

    @media #{$medium-up} {
        font: 18px/24px $font-family-serif-secondary;
    }

    .error-page__text-hyperlink {
        color: $color-text;
        text-decoration: underline;
    }
}

.error-page-container__footer {
    margin-top: 30px;
    padding-bottom: 0;
}

.error-page-container__title {
    font: 29px/38px $font-family-serif-primary;
    font-weight: 400;
    line-height: inherit;
    letter-spacing: -1px;
    padding: 0;
    margin: 25px auto 35px;
    text-align: center;
    max-width: 360px;
    -webkit-font-smoothing: antialiased;

    .page-title__symbol:before {
        content: none;
    }

    @media #{$medium-up} {
        margin: 48px auto 35px;
        font-size: 36px;
        line-height: 46px;
        max-width: 750px;
    }

    span:after {
        content: none;
    }
}
