$hero-teaser-line-height: 25px;

.hero-wrapper {
    @media #{$small-only} {
        margin: {
            left: -1 * $column-gutter/2;
            right: -1 * $column-gutter/2;
        }
    }

    .ad--section-top-mrec {
        margin-top: $landing-page-module-gutter;
        margin-bottom: 0;
    }

    .hero-teaser__source {
        display: none;
    }

    &__social-logo {
        background: url('/assets/logos/header-logo.svg') no-repeat;
        background-size: 230px;
        width: 230px;
        display: inline-block;
        text-indent: -99999rem;
        margin-bottom: 20px;
        height: 25px;
    }

    .ad {
        @media #{$medium-only} {
            text-align: center;
            width: 50%;
            float: right;
            margin-bottom: 20px;
        }
    }

    .page__get-social-container {
        margin-top: $landing-page-module-gutter;
        margin-bottom: 0;
    }

}

.hero-teaser {

    &.teaser {
        @media #{$small-only} {
            padding: {
                top: 0;
                left: 0;
                right: 0;
           }
        }
    }

    .teaser__inner {
        @include clearfix();
        position: relative;
    }

    .teaser__image {
        @media #{$medium-only} {
            float: left;
            width: 58.33%;
        }
    }

    .teaser__body {
        position: relative;
        margin-left: 0;

        @media #{$medium-only} {
            float: left;
            width: 41.67%; // 100% - 58.33%
        }

        @media #{$large-up} {
            padding: 0;
        }

    }

    .teaser__badge-container {
        @media #{$medium-only} {
            position: relative;
            top: auto;
        }

        @media #{$large-up} {
            top: -36px;
        }

        @media #{$xlarge-up} {
            position: relative;
            top: auto;
        }
    }

    .teaser__title {
        @include type-hero-title();
    }

    .teaser__summary {
        margin: $landing-page-teaser-gutter 0;
    }
}
