{
    "extends": ["airbnb", "plugin:prettier/recommended", "prettier/react"],
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module"
    },
    "env": {
        "browser": true,
        "node": true,
        "mocha": true,
        "es6": true
    },
    "globals": {
        "expect": true,
        "sinon": true,
        "Promise": true
    },
    "plugins": [
        "prettier"
      ],
    "rules": {
        "prettier/prettier": "error",
        "strict": 0,        
        "import/first": 0,
        "import/newline-after-import": 0,
        "generator-star-spacing": 0,
        "react/forbid-prop-types": 0,
        "react/sort-comp": 0,
        "react/jsx-filename-extension": 0,
        "react/jsx-no-target-blank": 0,
        "no-confusing-arrow": 0,
        "jsx-a11y/no-static-element-interactions": 0,
        "react/prefer-stateless-function": 0,
        "no-plusplus": [
            "error",
            {
                "allowForLoopAfterthoughts": true
            }
        ],        
        "react/no-danger": 0,
        "no-return-assign": 0
    }
}
