
.home-page {
    &__teasers-title {
        display: none;
    }
}
.top-news-feed {
    margin-top: $landing-page-module-gutter;

    .teaser-view-grid-container {
        margin-top: $landing-page-module-gutter;

        @media #{$large-up} {
            margin-top: 0;
        }

        .teaser {
            .teaser__image-caption {
                width: 100%;

                @media #{$large-up} {
                    width: 50%;
                }
            }

        }
    }
}

.bottom-news-feed {

    & > .row {
        @media #{$large-up} {
            margin-left: 15px;
            margin-right: 15px;
        }
    }

}

