.page__top-container {
    .get-social {
        .get-social-title {
            margin-top: 12px;
            
            &:before {
                color: $color-primary;
                content: 'FOLLOW US';
            }
        }

        .get-social__links {
            position: relative;
        }
    }
}
