.article {
    @include type-article-body;
    margin: 15px 0 0 0;

    &__date-created,
    &-header-author,
    &__image-count {
        font-family: $font-text-light;
        font-size: 12px;
        line-height: 20px;
        color: $color-text;
        margin-top: $article-gap/2;
        margin-bottom: 0;

        &__name {
            color: $color-text-lighter;
        }
    }

    &-header-section {
        display: block;
        margin-top: 10px;
        margin-bottom: 4px;

        &__text {
            @include type-teaser-tag();
            visibility: visible;
        }

        @media #{$medium-up} {
            display: none;
        }
    }

    &__hero {

        &-container {
            margin-top: $article-gap;
            margin-bottom: 0;
         }
    }


    &__title {
        @extend .type-article-title;
        margin-top: 0;
        margin-bottom: 0
    }

    &__summary {
        @extend .type-article-summary;
        margin-top: $article-gap/2;
        margin-bottom: 0;
    }

    .article-header-author {
        span:nth-child(2) {
            border-bottom: none;
        }
    }

    &__footer {
        margin-top: $article-gap;
        margin-bottom: $article-gap;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid $line-color;
        border-top: 1px solid $line-color;

        a.fb-share-link,
        a.pinterest-share-link {
            background-color: $color-button;
            &:hover {
                background-color: $color-button-hover;
            }
        }
    }

    &__tags {
        width: 100%;
        display: table;
        padding: {
            left: 15px;
            right: 15px;
        }

        .tags__title {
            display: table-cell;
            font-family: $font-text-light;
            font-weight: 400;
            white-space: nowrap;
            display: inline-block;
            font-style: normal;
            font-size: 11px;
            padding-right: 10px;
        }

        .related-tags {
            display: table-cell;
            li a {
                @include type-link;
                font-family: $font-text-light;
                color: $color-text;
                text-transform: uppercase;
                font-style: normal;
                white-space: nowrap;
                text-decoration: underline;
                font-size: 11px;
                @media #{$medium-up} {
                    font-size: 11px;
                }
            }
        }

        @media #{$medium-up} {
            width: 50%;
        }
    }

    .related-content {
        padding-bottom: 20px;

        &-items {
            .teaser__image {
                margin-bottom: 5px;
            }

            .feed-item {
                &__section-tag {
                    @include type-teaser-tag;
                    display: block;
                }

                &__body-title {
                    margin-top: 0;
                }

            }
        }
    }

    &__main-hero-image {
        .article_image-caption {

            @include caption {
                color: $color-gt-grey-2;
            }
            display: block;
            position: relative;
            background-color: transparent;
            padding-left: 0;
            padding-right: 0;
            padding-top: $article-gap/3;
            padding-bottom: calc(#{$article-gap/3} + 8px);
            padding-left: 15px;
            padding-right: 15px;
            background-color: $color-gt-white;
            text-align: left;

            @media #{$medium-up} {
                font-style: italic;
                padding-left: 0px;
                padding-right: 0px;
            }

            &:after {
                content: '';
                position: absolute;
                background-color: $color-gt-black-1;
                display: block;
                width: 24px;
                height: 8px;
                bottom: 0;
                left: 15px;
                @media #{$medium-up} {
                    left: 0px;
                }
            }

            a {
                @include type-link;
                text-decoration: underline;
            }
        }
    }
}

.feed__container .feed-item.feed-item--gallery::after {
    display: none;
}
