.content-body {

    li {
        margin-bottom: 5px;
    }

    &-container {
        margin-top: $article-gap;

        & + .newsletter-signup-wrapper {
            margin-top: $article-gap;
        }
    }

    a {
        @include type-link;
        font-size: 15px;
        text-decoration: underline;
    }

    p, &__paragraph {
        margin-top: $article-gap/4;
        margin-bottom: $article-gap/2;
    }

    &__heading {
        h2 {
            @include type-article-heading;
            margin-top: $article-gap;
            margin-bottom: 0;
            padding-top: 0;
        }
    }

    &__inline-image {
        margin-top: $article-gap;
        margin-bottom: 0;

        figure figcaption {
            @include caption {
                color: $color-gt-grey-2;;
            }
            display: block;
            position: relative;
            background-color: transparent;
            padding-left: 0;
            padding-right: 0;
            padding-top: $article-gap/3;
            padding-bottom: calc(#{$article-gap/3} + 8px);

            &:after {
                content: '';
                position: absolute;
                background-color: $color-gt-black-1;
                display: block;
                width: 24px;
                height: 8px;
                bottom: 0;
                left: 0;
            }

            a {
                @include type-link;
                text-decoration: underline;
            }
        }

        @media #{$medium-up} {
            width: 100%;
        }
    }

    &__related-content {
        border: 0px solid $line-color;
        border-top-width: 1px;
        border-bottom-width: 1px;
        margin: $article-gap 0 0;
        margin-left: -($column-gutter/2);
        width: calc(100% + #{$column-gutter});
        text-align: left;
        padding-bottom: 40px;

        @media #{$large-up} {
            text-align: center;
            border-left-width: 1px;
            border-right-width: 1px;
            margin-left: 0;
            margin-right: 0;
            width: auto;
        }

        .related-content-wrapper {
            padding-top: 15px;
            padding-left: $column-gutter/2;
            padding-right: $column-gutter/2;
        }

        .related-content__heading {
            font-family: $font-family-sans-serif-light;
            font-size: 17px;
            letter-spacing: 0.05em;
            font-weight: 600;
        }

        .feed-item {
            .feed-item__source,
            .feed-item__body-title {
                letter-spacing: .03em;
                text-align: left;
                text-decoration: none;

                @media #{$large-up} {
                    text-align: center;
                }
            }
        }
    }

    &__gallery-link {
        margin-top: $article-gap;
        margin-bottom: 0;
    }

    &__gallery-link-caption {
        -webkit-font-smoothing: auto;
        background-color: #000;
        color: $color-grey-light;
        position: static;
        margin-left: 0;
        margin-right: 0;
        padding-top: 18px;
        padding-bottom: 20px;

        @media #{$medium-up} {
            width: 100%;
        }
    }

    &__gallery-link-title {
        color: $color-grey-light;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        padding-top: 3px;
    }

    &__tips {
        margin-top: $article-gap;
        margin-bottom: 0;
        font-family: $font-text;
        border: 1px solid $color-gt-black-1;
        padding: 0;

        p {
            margin: 0px;
        }

        @media #{$medium-up} {
            @include content-body-width();
            margin-top: $article-gap;
            margin-bottom: 0;
        }

        @media #{$large-up} {
            width: 100%;
        }

        .tips {
            padding: 20px;
        }
    }
}
