.page {
    &__get-social-container {
        margin-top: 0;

        @media #{$medium-only} {
            width: 50%;
        }
    }

    .home-page {
        .page__top-container {
            margin-bottom: 0;
            padding-top: 20px;
        }
    }
}
