.recipe-overview {
  display: block;
  margin: 0;
  background-color: $color-gt-black-1;
  color: $color-gt-white;
  text-align: center;
  padding: 15px;
  line-height: 1.1;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: $article-gap;
  margin-bottom: -1 * $article-gap;

  @media #{$medium-up} {
      margin-left: 0px;
      margin-right: 0px;
  }

  &__item {
      display: inline-block;
      white-space: nowrap;
      border-right: 1px solid $color-gt-white;
      font-size: 11px;
      padding-left: 10px;
      padding-right: 10px;
      &:last-child {
          border-right: none;
      }
  }
}
