.page-title {
    @include type-section-title();
    background: $color-black-origin;
    color: $color-white;
    margin: 22px 30px 10px;
    padding: 0 $column-gutter/2;

    @media #{$medium-up} {
        padding: 10px $column-gutter/2;
    }

    span {
        color: $color-white;

        &:after {
            display: none;
        }
    }
}

.page-title__symbol {
    color: $color-primary;
    letter-spacing: -5px;

    &:before {
        content: '';
    }

    @media #{$medium-up} {
        letter-spacing: -8px;
    }
}
