.article {
    @include type-article-body();
    margin-top: 20px;

    &__title {
        font-family: $font-family-sans-serif-primary;
        font-size: 24px;
        font-weight: 600;
        line-height: 26px;
        margin-top: 10px;
        text-transform: uppercase;

        @media #{$large-up} {
            font-size: 40px;
            line-height: 44px;
        }
    }

    &__summary {
        font-family: $font-family-serif-primary;
        font-size: 19px;
        font-style: italic;
        line-height: 25px;
        margin-top: 15px;

        @media #{$large-up} {
            font-size: 20px;
            line-height: 34px;
        }
    }

    &__date-created,
    &-header-author,
    &__image-count {
        color: $color-grey;
        font-family: $font-family-sans-serif-primary;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: .5px;

        &__name {
            color: $color-accent;
        }
    }

    &-header-section {
        display: block;
        line-height: 12px;
        margin-top: 10px;
        margin-bottom: 4px;

        &__text {
            @include type-teaser-tag();
            visibility: visible;
        }

        @media #{$medium-up} {
            display: none;
        }
    }

    .article-header-author {
        span:nth-child(2) {
            border-bottom: none;
        }
    }

    &__footer {
        font-family: $font-family-sans-serif-primary;
        font-size: 12px;
        font-style: normal;
        line-height: 16px;
        text-transform: uppercase;

        .social-share-block {
            display: none;
        }
    }

    &__tags {
        letter-spacing: .5px;

        .related-tags li a {
            text-decoration: none;
        }
    }

    .related-content {
        padding-bottom: 20px;

        &-items {
            .teaser__image {
                margin-bottom: 5px;
            }

            .feed-item {
                &__section-tag {
                    @include type-teaser-tag;
                    display: inline-block;
                    line-height: 0;
                }

                &__body-title {
                    font-size: 15px;
                    line-height: 18px;
                    margin-top: 0;
                    text-transform: uppercase;

                    @media #{$large-up} {
                        font-size: 14px;
                        line-height: 16px;
                    }
                }

            }
        }
    }

}

.feed__container .feed-item.feed-item--gallery::after {
    display: none;
}
