.content-body {
    &-container {
        margin-top: 35px;
    }

    a {
        color: $color-accent;
    }

    p {
        margin-top: 10px;
    }

    &__heading {
        h2 {
            -webkit-font-smoothing: auto;
            font-size: 24px;
            font-weight: 600;
            line-height: 26px;
            padding-top: 0;

            @media #{$large-up} {
                font-weight: 26px;
                line-height: 30px;
            }
        }
    }

    &__inline-image {
        figure figcaption {
            background-color: transparent;
            color: #aaa;
            font-family: $font-family-sans-serif-primary;
            letter-spacing: .5px;
            text-transform: uppercase;
            padding-left: 0;
            padding-right: 0;

            a {
                color: $color-accent;
            }

            @media #{$medium-up} {
                font-size: 12px;
                line-height: 26px;
            }
        }
    }

    &__related-content {
        border: 1px solid $related-content-border-color;
        margin: 40px 0 $column-gutter;
        margin-left: -($column-gutter/2);
        width: calc(100% + #{$column-gutter});
        text-align: left;
        padding-bottom: 40px;

        @media #{$large-up} {
            text-align: center;
            margin-left: 0;
            margin-right: 0;
            width: auto;
        }

        .related-content-wrapper {
            padding-left: $column-gutter/2;
            padding-right: $column-gutter/2;
        }

        .related-content__heading {
            letter-spacing: 0.05em;
            font-size: 22px;
            font-weight: 100;
            margin-top: -54px;
            width: 175px;

            @media #{$large-up} {
                font-size: 30px;
                margin-top: -57px;
                width: 230px
            }
        }

        .feed-item {
            .feed-item__source,
            .feed-item__body-title {
                letter-spacing: .03em;
                text-align: left;
                text-decoration: none;

                @media #{$large-up} {
                    text-align: center;
                }
            }
        }
    }

    &__gallery-link-caption {
        -webkit-font-smoothing: auto;
        background-color: #000;
        color: $color-grey-light;
        position: static;
        margin-left: 0;
        margin-right: 0;
        padding-top: 18px;
        padding-bottom: 20px;

        @media #{$medium-up} {
            width: 100%;
        }
    }

    &__gallery-link-title {
        color: $color-grey-light;
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
        padding-top: 3px;
    }

    &__tips {
        border: 1px solid $color-primary;
        color: #222;
        margin: $column-gutter 0;
        padding: 3px 20px 3px;
        font-family: $font-family-serif-primary;
        font-size: 19px;
        font-weight: 400;
        line-height: 25px;

        @media #{$medium-up} {
            @include content-body-width();
        }

        @media #{$large-up} {
            width: auto;
            font-size: 20px;
            line-height: 32px;
            padding-left: 35px;
            padding-right: 35px;
        }

        .tips {
            p {
                margin: 20px 0;
            }
        }
    }
}
