.gallery {

    &__aside {

        .gallery__date-author span {
            color: #aaa;
        }
    }

    &__main {
        .gallery {

            &__title {
                font-family: $font-family-serif-primary;
                -webkit-font-smoothing: antialiased;
                font-size: 22px;
                line-height: 30px;
            }

            &__more {
                &-heading-container {
                    .gallery__more-heading {

                        span {
                            font-family: $font-family-serif-primary;
                            -webkit-font-smoothing: antialiased;
                            font-weight: 200;
                            color: $color-secondary;
                        }

                    }
                }
            }

        }
    }

    &__next {

        &-aside {

            .teaser {
                margin-bottom: 10px;

                &__section-tag {
                    margin-top: 15px;
                }

                &__title {
                    margin-top: 0;
                }

                &__summary {
                    display: none;
                }

                &__source {
                    display: none;
                }
            }

        }

        &-main {

            .teaser__title {
                text-align: center;
                margin-bottom: 15px;
                margin-top: 25px;

                a {
                    font-family: $font-family-sans-serif-primary;
                    -webkit-font-smoothing: antialiased;
                    font-size: 20px;
                    color: $color-primary;
                    letter-spacing: 0.0025em;
                }

            }

            .button {
                background: $color-accent;
                -webkit-font-smoothing: antialiased;
                font-size: 17px;
            }

        }

        &-container {

            h5 {
                font-family: $font-family-serif-primary;
                -webkit-font-smoothing: antialiased;

                &::before, &::after {
                    background: $color-accent
                }
            }

            h2 {
                -webkit-font-smoothing: antialiased;
                text-transform: uppercase;
                letter-spacing: 0.02em;
            }

            .button {
                background: $color-accent;

                &:hover {
                    background: lighten($color-accent, 15);
                }

            }
       }

    }

    p.content-body__paragraph {
        -webkit-font-smoothing: antialiased;
        font-size: 16px;
        line-height: 26px;
        color: $color-secondary;
    }

    .gallery-caption__content-holder p {
        -webkit-font-smoothing: antialiased;
        color: $color-secondary;
        font-size: 16px;
        line-height: 26px;
    }

    .gallery-caption__toggle {
        color: $color-accent;
        text-decoration: none;
    }

    .social-share-block {
        display: none;
    }

}
