.page {
    .page-title-container {
        max-width: 1024px;
        overflow: auto;
        text-align: center;
        background: $color-awwfood-white;

        @media #{$medium-up} {
            margin-top: $landing-page-module-gutter;
        }
    }

    .page-title {
        margin: 0;
        padding: 0;
        width: auto;
        background: inherit;
        @include page-title-with-underline;

        span {
            color: inherit;
        }

    }
}
